h1 {
	border-width: medium;
	border-bottom-style: solid;
	border-top-style:solid;
	
	text-align: center;
}
h2 {
	border: thin ridge blue;
	background-color: yellow;
	font-family: Garamond;
}
th {
	font-weight: bold;
	text-decoration: underline;
	text-align: left;
	
}

.temperature {
	font-style: italic;
	color:purple;
}

.viande{
	color:red;
	font-weight:bold; }

.legume {
	color:green;
	text-decoration:blink;
	font-weight:bold;
}

ol {
	list-style:upper-roman;
}

form {
	
	position:relative;
	float:right;
	color: #FFE930;
	background-color:green;
}

#conn{
	
	position:relative;
	float:left;
	color: #FFE930;
	background-color:green;
	width:280px;
}

div {
	background-color:green;
	color:#FFE930;
	
}
a{
	text-decoration:none;
	display:block;
	width:160px;
	border: 1px red solid;
}


