<!DOCTYPE html>
<html ng-app="MultiController">
	<head>
		<title> Multi Controllers </title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="controllers/multicontrollers.js"></script>
	</head>

	<body>
		<br>
		<div>
			<p>
				<label for="valA">Valeur de A:</label>
				<input type="number" id="valA" ng-model="valA">
			</p>
			<p>
				<label for="valB">Valeur de B:</label>
				<input type="number" id="valB" ng-model="valB">
			</p>
			<p ng-controller='Math1'>
				<button ng-click="add(valA, valB)">Additionner</button>
				Result: {{result}}
			</p>
			<p ng-controller='Math2'>
				<button ng-click="multiple(valA,valB)">Multiplier</button>
				Result: {{result}}
			</p>
		</div>
	</body>
</html>